body
{
    font-family: 'Droid Sans', sans-serif;
    background-color: white;
	margin: 0px;
    background-color: #fafafa;
}

#disqus_thread
{
	width: 100%;
	max-width: 840px;
	margin: 0 auto;
}

#all
{
    width: 100%;
    max-width: 900px;
    margin: 0px auto;
	background-color: white;
    padding: 0 20px;
    box-sizing: border-box;
}

#nav {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    position: relative;
    padding: 10px 5px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav li {
    float: none;
    margin-right: 30px;
    margin-left: 0;
    font-size: 14px;
}

.nav-socials {
    display: flex;
    gap: 15px;
    margin-left: auto;
    margin-right: 5px;
}

.nav-socials a {
    font-size: 16px;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.2s;
}

.nav-socials a:hover {
    opacity: 1;
}

a
{
    color: #555555;
    text-decoration: none;
/*    font-style:oblique;*/
}

p a, #content li a
{
    color: #009bff;
}

.active, #nav li:hover
{
/*    border-bottom: 3px solid #47deb5;*/

}

a:hover
{
    color: red;text-decoration: none;
}

li
{
    padding-bottom: 2px;
/*    border-bottom: 3px solid #ffffff;*/
}

#content
{
    /* margin: 30px 0; */
    width: 100%;
    max-width: none;
    float: none;
    font-size: 14px;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#content img
{
    max-width: 100%;
    /* height: auto; */
    /* display: block; */
    /* margin: 0 auto; */
}

pre, code
{
    background-color: #e9e9e9;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: scroll;
}

.minidescription
{
	font-size: 10px;
}

#footer
{
    margin-top: -55px;
    height: 55px;
    z-index: 99999999999999999;
    position: relative;
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
    padding-top: 50px;
    color: #aaa;
    background-color: white;
}

br
{
    clear: both;
}

blockquote
{
    border-left: 8px solid #ddd;
    padding-left: 10px;
    margin-left: 30px;
}

table
{
    border-collapse: collapse;
    border: 1px solid #eee;
}

th
{
    background-color: #e0e0e0;
}

tr:nth-child(even)
{
    background: #eee;
}

td, th
{
    font-size: 14px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}

#search_input
{
    width: 300px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 20px;
}

#go_search
{
    width: 70px;
    /* border-radius: 20px;
    border: 1px solid #ccc;
    background-color: white; */
}

.left
{
	float: left;
	font-size: 12px;
}

.right
{
	float: right;
}


.blog-entry {
    display: flex;
    align-items: flex-start;
    /* margin-bottom: 15px; */
    padding: 15px 0;
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    width: 100%;
    overflow: hidden;
}

.blog-thumbnail {
    width: 160px;
    height: 140px;
    object-fit: cover;
    margin-right: 25px;
    border-radius: 6px;
    flex-shrink: 0;
}

.blog-content {
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
}

.blog-header {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 16px;
}

.blog-date {
    color: #888;
    font-size: 11px;
    font-weight: normal;
    margin-left: 8px;
}

.minidescription {
    color: #666;
    font-size: 13px;
    line-height: 1.4;
}

.post-meta {
    margin: 15px 0 25px 0;
    /* padding: 10px 0; */
    border-bottom: 1px solid #eee;
    font-size: 13px;
    color: #666;
}

.post-date {
    margin-right: 20px;
    font-weight: 800;
    font-size: 14px;
}

.post-tags {
    font-style: italic;
}

/* .post-ad {
    margin: 30px 0;
    text-align: center;
} */

.blog-entry.no-image {
    padding-left: 0;
}

.blog-entry-small.no-image {
    padding-left: 0;
}

.blog-entry.no-image .blog-content,
.blog-entry-small.no-image .blog-content-small {
    margin-left: 0;
}

.project-entry {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    width: 100%;
    overflow: hidden;
}

.project-thumbnail {
    width: 120px;
    height: 90px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 6px;
    flex-shrink: 0;
}


.project-content {
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
}

.project-header {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 16px;
}

.source-link {
    font-size: 12px;
    color: #666;
    margin-left: 8px;
}

.project-description {
    color: #666;
    font-size: 13px;
    line-height: 1.4;
}

.home-intro {
    margin-top: 10px;
    border-bottom: 1px solid #eee;
}

.home-intro h2 {
    margin-top: 0;
    color: #333;
}

.home-columns {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.home-left, .home-right {
    flex: 1;
    min-width: 0;
}

.view-all-link {
    text-align: right;
    margin-top: 15px;
    font-size: 13px;
}

.blog-entry-small {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.blog-thumbnail-small {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 4px;
    flex-shrink: 0;
}

.blog-content-small {
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
}

.blog-header-small {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.blog-date-small {
    color: #888;
    font-size: 10px;
    font-weight: normal;
    margin-left: 8px;
}

.minidescription-small {
    color: #666;
    font-size: 12px;
    line-height: 1.3;
}

.project-entry-small {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.project-thumbnail-small {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 15px;
    border-radius: 4px;
    flex-shrink: 0;
}

.project-content-small {
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
}

.project-header-small {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.project-description-small {
    color: #666;
    font-size: 12px;
    line-height: 1.3;
}

.archive-links h3 {
    margin-top: 25px;
    margin-bottom: 10px;
    color: #333;
}

.archived-tag {
    background-color: #f0f0f0;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 10px;
    color: #666;
}

.socials-grid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 20px;
    margin-top: 20px;
    max-width: 500px;
}

.social-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: #fafafa;
}

.bi {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.social-icon {
    width: 48px;
    height: 48px;
    margin-right: 15px;
    border-radius: 6px;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.github-icon, .bi-github {
    background-color: #181717;
    mask-image: url('/layout/github.svg');
}

.bluesky-icon, .bi-bluesky {
    background-color: #0285FF;
    mask-image: url('/layout/bluesky.svg');
}

.youtube-icon, .bi-youtube {
    background-color: #ff0000;
    mask-image: url('/layout/youtube.svg');
}

.githubsponsors-icon {
    background-color: #EA4AAA;
    mask-image: url('/layout/githubsponsors.svg');
}

.kofi-icon, .bi-kofi {
    background-color: #FF6433;
    mask-image: url('/layout/kofi.svg');
}

.social-content h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
}

.social-content p {
    margin: 0;
    font-size: 13px;
    color: #666;
}

.matched-terms {
    margin-top: 8px;
    font-size: 12px;
    color: #888;
}

.matched-terms em {
    color: #009bff;
    font-style: normal;
    font-weight: bold;
}

#results h3 {
    margin: 20px 0 15px 0;
    color: #333;
    font-size: 16px;
}

#banner {
    margin-left: -20px;
    padding-right: 40px;
    width: 100%;
    height: 85px;
    background-color: #f8bd01;
    overflow: hidden;
}

#banner span {
    float: right;
    font-size: 32px;
    color: white;
    opacity: 60%;
    margin-top: 40px;
    margin-right: -25px;
}

#logo {
    height: 150%;
    margin-left: -65px;
    margin-top: -5px;
    object-fit: contain;
    display: block;
    float: left;
    bottom: 0;
}

@media (max-width: 768px) {
    #all {
        padding: 0 15px;
    }
    .home-columns {
        flex-direction: column;
        gap: 20px;
    }
    #banner {
        padding-right: 35px;
    }
    #banner span {
        font-size: 24px;
        margin-top: 45px;
    }
    /* .home-intro {
        padding-top: 0px;
    } */
    #content {
        margin: 20px 0;
        margin-top: 0px;
    }
    #nav {
        padding: 0px;
    }
    #nav ul {
        flex-wrap: wrap;
        padding: 10px 0;
    }
    
    #nav li {
        margin-right: 15px;
        font-size: 13px;
    }
    
    .nav-socials {
        gap: 10px;
    }
    
    .nav-socials a {
        font-size: 14px;
    }
    .project-entry {
        flex-direction: column;
        align-items: stretch;
    }
    
    .project-thumbnail {
        width: 100%;
        max-width: 200px;
        height: 150px;
        margin-right: 0;
        margin-bottom: 15px;
        align-self: center;
    }
    .blog-entry {
        flex-direction: column;
        align-items: stretch;
    }
    
    .blog-thumbnail {
        width: 100%;
        max-width: 300px;
        max-height: 150px;
        height: 200px;
        margin-right: 0;
        margin-bottom: 15px;
        align-self: center;
    }
}

@media (max-width: 475px) {
    #nav ul {
        padding-bottom: 0px;
    }
    .opt-nav {
        display: none;
    }
    /* .nav-socials {
        margin-top: 10px;
    } */
}

