body
{
    font-family: 'Droid Sans', sans-serif;
    background-color: white;
	margin: 0px;
    background-color: #fafafa;
}

#disqus_thread
{
	width: 840px;
	margin: 0 auto;
}

#all
{
    width: 900px;
    margin: 0px auto;
	background-color: white;
}
/*

#nav li:first-child
{
	float: left;
}
*/

#nav li
{
    float: left;
    margin-right: 40px;
    margin-left: 40px;
}

a
{
    color: #555555;
    text-decoration: none;
/*    font-style:oblique;*/
}

p a
{
    color: #009bff;
}

.active, #nav li:hover
{
/*    border-bottom: 3px solid #47deb5;*/

}

a:hover
{
    color: red;text-decoration: none;
}

li
{
    padding-bottom: 2px;
/*    border-bottom: 3px solid #ffffff;*/
}

#nav
{
    margin: 0 auto;
    width: 900px;
}

#sidebar
{
    margin: 50px;
    margin-right: 0px;
    width: 150px;
    font-size: 14px;
    float: left;
}

#content
{
    margin: 50px;
    margin-top: 30px;
    width: 600px;
    float: left;
    font-size: 14px;
    line-height: 1.5;
}

#content img
{
    max-width: 100%;
    text-align: center;
}

pre, code
{
    background-color: #e9e9e9;
    border-radius: 5px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x: scroll;
}

.minidescription
{
	font-size: 10px;
}

#footer
{
    margin-top: -55px;
    height: 55px;
    z-index: 99999999999999999;
    position: relative;
	text-align: right;
	padding-right: 40px;
    color: #aaa;
    background-color: white;
}

br
{
    clear: both;
}

blockquote
{
    border-left: 8px solid #ddd;
    padding-left: 10px;
    margin-left: 30px;
}

table
{
    border-collapse: collapse;
    border: 1px solid #eee;
}

th
{
    background-color: #e0e0e0;
}

tr:nth-child(even)
{
    background: #eee;
}

td, th
{
    font-size: 14px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}
