body
{
    font-family: 'Droid Sans', sans-serif;
}

#all
{
    width: 900px;
    margin: 0px auto;
}

#nav li
{
    float: left;
    margin-right: 40px;
    margin-left: 40px;
}

a
{
    color: #555555;
    text-decoration: none;
}

.active, #nav li:hover
{
/*    border-bottom: 3px solid #47deb5;*/

}

#nav a:hover
{
    color: red;text-decoration: none;
}

li
{
    padding-bottom: 2px;
/*    border-bottom: 3px solid #ffffff;*/
}

#nav
{
    margin: 0 auto;
    width: 900px;
}