<link rel="stylesheet" href="style.css"></link>
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

<div id="all">
    <img src="vgnocolorhead.png" />
    <div id="nav">
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="tutorials">Tutorials</a></li>
            <li><a href="employment">Employment</a></li>
            <li><a href="github">Github</a></li>
            <li><a href="about">About</a></li>
            <li><a href="http://rickyayoub.com" target="_blank">Portfolio</a></li>
        </ul>
    </div>
</div>